.card_hover:hover {
    background: rgba( 172, 205, 192, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
  
}

.project_focus {
        background-image: url('../../public/assets/7.png');
        background-size: 130%; /* or any other value you want */
        filter: brightness(80%);
        background-position: center;
        background-repeat: no-repeat;
}